*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height:100%;
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    background-image:url('../img-learn-tutors/29.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

header {
    width:100%;
    height: 100px;
    position: fixed;
}

.container-header{
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2%;
    display: flex;
    justify-content: space-between;
}

/*Contenerdor del texto "BIENVENIDOS A LEARN"*/
.left-text{
    margin: 2%;
    color: #59C6F1;
}

.principal-letter {
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    margin: 0%;
    padding:0;
    line-height: 0%;
}

.learn{
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 81px;
}

/*Contenedor del las imagenes de banderas*/
.right-images{
    display:flex;
    align-items: flex-start;
}

.right-images img{
    width: 30px;
    margin: 10px;
}
 
/*Contenedor del cuerpo de la web*/
.container-all{
    margin-left: 5%;
    margin-right: 5%;
    min-height: calc(100% - 100px);
}
/*Imagen principal*/
.centered-image img {
    position: fixed;
    top: 52px;
    max-width: 100%;
    height: 100%;
    left: 8%;
    z-index: -1;
    box-sizing: border-box;
}

/*Titulo 2 "NUESTROS SERVICIOS"*/
.text-container {
    position: fixed;
    padding-top: 100px;
    width: auto;
    height: 40px;
    margin-top: 15px;
    right: 11%;
    font-size: 38px;
    color: #59C6F1;
    display: flex;
    justify-content: center;
}

/*Información del cuerpo*/
.line-container1 {
    top:160px;
    left: 48%;
    position: relative;
    width: 500px;
    box-sizing: border-box;
}

.line-container2 {
    top:160px;
    left: 44%;
    position: relative;
    width: 600px;
    box-sizing: border-box;
}

.line-container3 {
    top:170px;
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 20px;
    left: 35%;
    text-align: center;
    position: relative;
    width: 800px;
    box-sizing: border-box;
}

.text-line{
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 27px;
    text-align: center;
    position: relative;
    background-color: #F7DE32;
    padding:10px;
    margin-bottom: 15px;
    border-radius: 50px;
}

/*imagenes del final*/
a{ 
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-container{
    position: relative;
    top: 130px;
    left: 56%;
    width: 295px;
    padding: 0;
    text-align: center;
}

.footer-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    padding: 0%;
}

/*Texto de Carla*/
.footer-text1{
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 15px;
    background-color: #F7DE32;
    position: relative;
    text-align: center;
    top: 198px;
    width: 235px;  
    left: 58.5%;
    border-radius: 50px;
}

.final-text{
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 20px;
    top: 150px;
    width: 400px;
    text-align: center;
    position: relative;
    left: 51.5%;
}

/*Responsive design*/

@media screen and (max-width: 1200px){

    .container-header{
        justify-content: center;
        margin-top: 15px;
    }

    .left-text{
        font-size: 80%;
    }

    .learn{
        font-size: 65px;
    }
    
    .right-images{
        height: 30%;
        flex-direction: column;
    }

    .right-images img{
        width: 15px;
        margin-top: 0%;
    }

    .centered-image{
        display: none;
    }

    .text-container{
        font-size: 20px;
        right: 0%;
        left: 0%;
        text-align: center;
    }

    .line-container1,
    .line-container2{
        top: 150px;
        right: 0%;
        left: 0%;
        text-align: center;
        width: auto;
    }

    .line-container3{
        right: 0%;
        left: 0%;
        text-align: center;
        width: auto;
    }

    .text-line {
        font-size: 17px;
    }

    .line-container3{
        font-size: 14px;
    }

    .image-container{
        left: 0%;
        right: 0%;
        top: 150px;
        width: auto;
        margin-left: 16%;
        margin-right: 16%;
        text-align: center;
    }

    .footer-image{
        width: 50px;
        height: 50px;
    }

    .footer-text1{
        left:0%;
        right: 0%;
        width: auto;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 80%;
        text-align: center;
    }

    .final-text{
        left: 0;
        right: 0;
        top: 180px;
        width: auto;
        font-size: 15px;
    }
}
