*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height:100vh;
}

body {
    width: 100%;
    background-image:url('../img-learn-tutors/29.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

header {
    width:100%;
    height: 100px;
    position: relative;
    top: 15px;
}

.container-header{
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

/*Contenerdor del texto "BIENVENIDOS A LEARN"*/
.left-text{
    margin: 2%;
    color: #59C6F1;
    width: 235px;
}

.left-text > .principal-letter{
    font-size: 29.7px;
    text-align: center;
}

.principal-letter {
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    margin: 0%;
    padding:0;
    line-height: 0%;
}

.learn{
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 81px;
}

/*Contenedor del las imagenes de banderas*/
.flags{
    display:flex;
    align-items: flex-start;
}

.flags img{
    width: 30px;
    margin: 10px;
    transition: 0.3s ease;
}

.flags img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
 
/*Contenedor del cuerpo de la web*/
.container-body{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    min-height: calc(100% - 100px);
}

/*Imagen principal*/
.centered-image img {
    position: fixed;
    bottom: 0%;
    left: 8%;
    z-index: -2;
    box-sizing: border-box;
}

/*Información del cuerpo*/
.information {
    position: absolute;
    right: 0%;
    top: 30px;
    width: 65%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Titulo 2 "NUESTROS SERVICIOS"*/
.text-container {
    position: relative;
    width: auto;
    height: 40px;
    font-size: 38px;
    color: #59C6F1;
}

.line-container1 {
    position: relative;
    width: 500px;
}

.line-container2 {
    position: relative;
    width: 600px;
}

.line-container3 {
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 20px;
    position: relative;
    width: 100%;
}

.text-line{
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 27px;
    background-color: #F7DE32;
    padding:10px;
    margin-bottom: 15px;
    border-radius: 50px;
}

/*Carla*/
.carla{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    top: 20px;
    width: 295px; 
    height: 80px;
}

.carla:hover{
    transform: scale(1.1);
}

a{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.image-container{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
}

.footer-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    padding: 0%;
}

/*Texto de Carla*/
.footer-text1{
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 14px;
    background-color: #F7DE32;
    position: absolute;
    text-align: center;
    width: 90%;  
    border-radius: 50px;
}

/*Texto final*/
.final-text{
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 20px;
    width: auto ;
    text-align: center;
    position: relative;
    top: 40px;
}

/*Responsive design*/

@media screen and (max-width: 1200px){

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
    }

    header{
        position: relative;
        top: 0%;
        z-index: 10;
    }

    .container-header{
        justify-content: center;
        margin-top: 70px;
    }

    .left-text > .principal-letter{
        font-size: 25px;
        text-align: center;
    }
    
    .flags{
        height: 30%;
        flex-direction: column;
    }

    .flags img{
        width: 20px;
        margin-top: 0%;
    }

    .centered-image{
        display: none;
    }

    .container-body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .information{
        position: relative;
        width: 100%;
        height: 100%;
        top: 100px;
        right: 0%;
    }

    .text-container{
        font-size: 20px;
    }

    .line-container1,
    .line-container2{
        text-align: center;
        width: auto;
    }

    .line-container3{
        text-align: center;
        width: auto;
        font-size: 14px;
    }

    .text-line {
        font-size: 17px;
    }

    .image-container{
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
    }

    .final-text{ 
        font-size: 15px;
    }
}